@media (max-width: 632px) {

	header {
		background-image: url(/img/fon/04.png);
	}
    .nav-list {
		display: none;
	}

	.nav-button {
		display: block;
		z-index: 9;
	}

	.nav-list a {
		color: #252527;
	}

	.nav.open .nav-list {
		position: fixed;
		top: 0px;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		padding: 25px 85px;
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		font-size: 14px;
		font-weight: 700;
		z-index: 2;
	}

	.nav.open .nav-button {
        position: fixed;
    }

	.icon {
		padding-top: 213px;
	}

	.info-text {
		font-size: 35px;
	}

	.info-text h3 {
		font-size: 33px;
	}

	.info-data {
		display: none;
	}

	.nav-button {
		left: 280px;
	}

	.contact01 {
		display: none;
	}

	.contact {
		padding-bottom: 304px;
	}

	.nav-button img {
		width: 45px;
		height: 45px;
	}

    .information02::before {
		width: 200px;
		height: 4px;
		left: 90px;
		top: -150px;
	}

	.vertical {
		top: -180px;
		left: 130px;
		writing-mode: horizontal-tb;
		font-size: 24px;
	}

	.information01 p {
		font-size: 14px;
	}

	.information02 h1 {
		font-size: 18px;
	}

	
	.information02 ul {
		padding-left: 0;
	}

	.nav-text img {
		width: 30px;
		height: 30px;
		
	}

	.nav-text span {
		font-size: 14px;
		padding-left: 10px;
		width: 290px;
	}

	.card02 {
		display: none;
	}

	.card01 {
		width: 278px;
		height: 260px;
	}

	.card01 h1 {
		font-size: 18px;
	}

	.card01 span {
		font-size: 14px;
	}

	.card01 h2 {
		font-size: 12px;
		left: 100px;
		bottom: 40px;
		width: 150px;
	}

	.nav-text {
		padding-right: 10px;
	}

	
    .information03::before {
		width: 200px;
		height: 4px;
		top: 80px;
		left: 100px;
	}

	.vertical02 {
		font-size: 24px;
		writing-mode: horizontal-tb;
		top: 50px;
		left: 160px;
		transform: none;
	}

	.card01 {
		left: 50px;
		top: 120px;
	}

	.information03 p {
		font-size: 18px;
		padding-top: 220px;
		padding-left: 150px;
	}

	.information03 a {
		color: #BE6002;
	}

	.foto {
		width: 231px;
		height: 174px;
	}

	.slider01{
		padding-top: 0;
	}

	.slider-name::before{
		top: 90px;
		left: 90px;
		width: 200px;
	}

	.slider-name h1 {
		font-size: 24px;
		top: -35px;
		left: 145px;
	}

	.slide {
		width: 231px;
		height: 325px;
	}

	.slide h1 {
		font-size: 16px;
		top: 10px;
		left: 6px;
		width: 230px;
	}

	.slide h2 {
		font-size: 12px;
		top: 60px;
		left: 6px;
		width: 230px;
	}

	.slide p {
		display: none;
	}

	.slide a {
		font-size: 14px;
	}

	.Arrow01 {
		top: 70px;
		left: 100px;
	}
	.Arrow02 {
		top: 50px;
		left: 100px;
	}

	.pagination-circle {
		top: 30px;
		left: 150px;
	}

	.slider02 {
		left: 140px;
		font-size: 18px;
		color: #BE6002;
	}

	.info-name h1 {
		padding-top: 120px;
		padding-left: 50px;
		font-size: 24px;
		height: 24px;
	}

	.info-name::before {
		width: 200px;
		left: 90px;
		top: 150px;
	}

	.info h2 {
		display: none;
	}

	.contact h1 {
		padding-top: 20px;
		font-size: 16px;
		height: 200px;
	}

	.info-card01 h1 {
		display: none;
	}

	.info-card01 p {
		display: none;
	}

	.info-card02 h1 {
		display: none;
	}

	.info-card02 p {
		display: none;
	}

	.info-card01 {
		border: none;
		top: -80px;
		left: 140px;
		display: flex;
		align-items: center;
	}


	.info-card02 {
		border: none;
		top: 30px;
		left: -140px;
		display: flex;
		align-items: center;
	}

	.contact {
		padding-bottom: 0;
	}

	.info-name02 h1 {
		font-size: 24px;
		padding-top: 0;
		padding-left: 120px;
		writing-mode: horizontal-tb;
	}


	.info-name02::before {
		width: 200px;
		height: 4px;
		left: 90px;
		top: 30px;
		
	}

	.info-stats {
		font-size: 16px;
	}

	.info-stats span01 {
		font-size: 72px;
		padding-left: 0;
	}

	.info-stats span02 {
		font-size: 72px;
		padding-left: 0;
	}

	.info-stats span03 {
		font-size: 72px;
		padding-left: 0;
	}

	.info-analytics01 {
		display: none;
	}

	.info-analytics02 {
		display: none;
	}

	.info02 a {
		font-size: 18px;
		top: 40px;
		left: 150px;
		color: #BE6002;

	}

	.info-name03 h1 {
		font-size: 24px;
		padding-top: 100px;
		padding-left: 60px;
	}

	.info-name03::before {
		width: 200px;
		height: 4px;
		left: 90px;
		top: 130px;
		
	}

	.info-li li {
		font-size: 14px;
		padding-left: 10px;
	}

	.info-li {
		column-gap: 30px;
	}

	.footer-name h1 {
		font-size: 24px;
		padding-top: 100px;
	}

	.footer-name::before {
		width: 200px;
		height: 4px;
		left: 80px;
	}

	.footer01::before {
		display: none;
	}

	.footer01 h1 {
		font-size: 16px;
		padding-top: 40px;
	}

	.footer01 a {
		font-size: 14px;
		top: 30px;
	}

	.footer02::before {
		width: 200px;
		height: 4px;
		left: 40px;
	}

	.footer02 h1 {
		font-size: 16px;
		top: 160px;
		padding-left: 70px;
	}

	.footer02 ul {
		top: 160px;
		left: 70px;
	}

	.footer02 a {
		font-size: 14px;
	}

	.footer03::before {
		width: 200px;
		height: 4px;
		top: 300px;
		left: 40px;
	}

	.footer03 h1 {
		font-size: 16px;
		top: 320px;
		padding-left: 70px;
	}

	.footer03 ul {
		top: 320px;
		left: 70px;
	}

	.footer03 a {
		font-size: 14px;
	}

	.footer04::before {
		width: 200px;
		height: 4px;
		top: 470px;
		left: 40px;
	}

	.footer04 h1 {
		font-size: 16px;
		top: 480px;
		padding-left: 70px;
	}

	.footer-contact  {
		top: 480px;
		left: 70px;
	}
}


@media (min-width: 632px) and (max-width: 920px) {

	header {
		background-image: url(/img/fon/03.png);
	}

	 .nav-list {
		display: none;
	}

	.nav-button {
		display: block;
	}

	.nav-list a {
		color: #252527;
	}

	.nav.open .nav-list {
		position: fixed;
		top: 80px;
		left: 0;
		right: 0;
		background-color: #fff;
		padding: 25px 85px;
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		font-size: 28px;
		font-weight: 700;
	}

	.nav.open .nav-button {
        position: fixed;
    }

	.nav-button {
		left: 650px;
	}

	.information02::before {
		width: 323px;
		height: 4px;
		left: 200px;
		top: -100px;
	}

	.vertical {
		font-size: 48px;
		writing-mode: horizontal-tb;
		top: -160px;
		left: 440px;
	}

	.information01 p {
		font-size: 18px;
	}

	.information02 ul {
		padding-left: 0;
	}

	.nav-text span {
		font-size: 17px;
		padding-left: 0;
	}

	.information03::before {
		width: 323px;
		height: 4px;
		top: 170px;
		left: 250px;
	}

	.vertical02 {
		font-size: 48px;
		writing-mode: horizontal-tb;
		transform: none;
		top: 100px;
		left: 180px;	
	}

	.card01 {
		width: 280px;
		height: 304px;
		left: 100px;
	}

	.card02 {
		width: 280px;
		height: 304px;
		left: 400px;
	}

	.card02 h2 {
		width: 200px;
	}

	.information03 p {
		padding-top: 380px;
		padding-left: 500px;
	}

	.information03 a {
		color: #BE6002;
	}

	.slide {
		width: 632px;
		height: 353px;
	}

	.foto {
		width: 271px;
		height: 353px;
	}

	.slider-name::before{
		top: 60px;
		left: 360px;
	}

	.slider-name h1 {
		font-size: 48px;
		top: -20px;
		left: 270px;
	}

	.slide h1 {
		font-size: 20px;
		top: -330px;
		left: 290px;
		width: 300px;
	}

	.slide p {
		top: -330px;
		left: 290px;
		font-size: 15px;
		width: 300px;
	}

	.slide h2 {
		top: -100px;
		left: 290px;
		width: 100px;
	}

	.Arrow01 {
		top: -130px;
		left: 460px;
	}

	.Arrow02 {
		top: -280px;
		left: 460px;
	}
	
	.pagination-circle {
		left: 370px;
	}

	.slider02 {
		left: 550px;
		color: #BE6002;
	}

	.info-name h1 {
		font-size: 48px;
	}

	.info h2 {
		display: none;
	}

	.contact h1 {
		padding-top: 20px;
	}

	.info-card01 {
		border: none;
	}

	.info-card01 h1 {
		display: none;
	}

	.info-card01 img {
		padding-top: 100px;
	}

	.info-card01 p {
		position: relative;
		font-size: 33px;
		top: 200px;
		left: 300px;
	}

	.info-card02 {
		border: none;
	}

	.info-card02 h1 {
		display: none;
	}

	.info-card02 img {
		position: relative;
		top: 200px;
		left: -500px;
	}

	.info-card02 p {
		position: relative;
		font-size: 36px;
		top: 400px;
		left: -200px;
	}

	.info-name02 h1 {
		writing-mode: horizontal-tb;
		font-size: 48px;
		padding-top: 300px;
		padding-left: 100px;
	}

	.info-name02::before {
		width: 323px;
		height: 4px;
		top: 370px;
		left: 100px;
		
	}

	.info-stats {
		padding-top: 100px;
		padding-left: 30px;
		font-size: 36px;
	}

	.info-stats span01 {
		font-size: 72px;
		padding-left: 30px;
	}
	
	.info-stats span02 {
		font-size: 72px;
		padding-left: 30px;
	}

	.info-stats span03 {
		font-size: 72px;
		padding-left: 30px;
	}

	.info-analytics01 {
		display: none;
	}

	.info-analytics02 {
		display: none;
	}

	.info02 a {
		left: 550px;
		color: #BE6002;
	}

	.info-name03 h1 {
		font-size: 48px;
	}

	.info-li {
		column-gap: 100px;
		padding-left: 40px;
	}

	.info-li li {
		font-size: 24px;
	}

	.footer-name h1 {
		font-size: 48px;
		
	}

	.footer01::before {
		display: none;
	}

	.footer01 h1 {
		font-size: 24px;
		padding-top: 40px;
	}

	.footer01 a {
		font-size: 18px;
		top: 30px;
	}

	.footer02::before {
		width: 200px;
		height: 4px;
		left: 40px;
	}

	.footer02 h1 {
		font-size: 20px;
		top: 160px;
		padding-left: 70px;
	}

	.footer02 ul {
		top: 160px;
		left: 70px;
	}

	.footer02 a {
		font-size: 18px;
	}

	.footer03::before {
		width: 200px;
		height: 4px;
		top: 140px;
		left: 400px;
	}

	.footer03 h1 {
		font-size: 20px;
		top: 160px;
		left: 370px;
		padding-left: 70px;
	}

	.footer03 ul {
		top: 160px;
		left: 440px;
	}	

	.footer03 a {
		font-size: 18px;
	}

	.footer04::before {
		width: 200px;
		height: 4px;
		top: 360px;
		left: 40px;
	}

	.footer04 h1 {
		font-size: 20px;
		top: 380px;
		padding-left: 70px;
	}

	.footer-contact  {
		top: 380px;
		left: 70px;
		display: flex;
		column-gap: 40px;
	}

}

@media (min-width: 920px) and (max-width: 1070px) {

	header {
		background-image: url(/img/fon/02.png);
	}

	  .nav-list {
		display: none;
	}

	.nav-button {
		display: block;
	}

	.nav-list a {
		color: #252527;
	}

	.nav.open .nav-list {
		position: fixed;
		top: 80px;
		left: 0;
		right: 0;
		background-color: #fff;
		padding: 25px 85px;
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		font-size: 28px;
		font-weight: 700;
	}

	.nav.open .nav-button {
        position: fixed;
    }

	.icon {
		padding-top: 362px;
	}
    
	.info-text h2 {
		display: block;
	}

	.info-text h1 {
		display: none;
	}
    
	.info-text h3 {
		padding-top: 22px;
	}

	.contact01 {
		display: flex;
		flex-direction: column;
		padding-left: 83px;
	}

	.tools {
		position: relative;
		left: 812px;
		top: -80px;
		width: 100px;
	}

	.information01 p {
		padding-top: 78px;
		font-size: 22px;

	}

	.information02 h1 {
		padding-top: 20px;
		padding-left: 95px;
		font-size: 18px;
		

	}

	.information02 ul {
		padding-left: 90px;
	}

	
	.nav-text span {
		font-size: 18px;

	}

	.information02::before {
		left: 920px;
		top: -70px;
	}

	.vertical {
		top: 130px;
		left: 925px;
	}

	.card01 {
	  width: 362px;
	  height: 304px;	
	  left: 170px;
	  top: 70px;	
	}

	.card01 h1 {
		font-size: 24px ;
	}
    
	.card01 h2 {
		font-size: 16px;
		bottom: 60px;
	}

	.card02 {
	  width: 362px;
	  height: 304px;
	  left: 560px;
	  top: 70px;		
	  
	}

	.card02 h1 {
		font-size: 24px ;
	}
    
	.card02 h2 {
		font-size: 16px;
		bottom: 60px;
	}

	.information03::before {
		left: 150px;
		top: 72px;
	}

	.vertical02 {
		left: 80px;
		top: 270px ;
	}

	.information03 p {
        padding-top: 230px;
		padding-left: 680px ;
	}

	.information03 a {
		color: #BE6002;
	}

	.slider-name::before {
		left: 565px;
		top: -60px;
	}

	.slider-name h1 {
		left: 470px;
		top: -150px;
	}

	.slide {
		width: 857px;
		height: 448px;
	}

	.foto {
		width: 428px;
		height: 448px;
	}
	

	.slide h1 {
		top: -418px;
		left: 439px;
		font-size: 24px;
	}

	.slide h2 {
		top: -384px;
		left: 439px;
		font-size: 16px;
	}

	.slide p {
		top: -336px;
		left: 439px;
		font-size: 18px;
	}

	.pagination-circle {
		left: 467px;
	}


	.Arrow01 {
		top:-158px;
		left: 678px;
	}

	.Arrow02 {
		top: -290px;
		left: 668px;
	}

	.slider02 {
		left: 680px;
		color: #BE6002;
	}

	.info-name h1 {
		font-size: 60px;
	}

	.info h2 {
		font-size: 24px;
		display: flex;
		justify-content: center;
	}

	.info-card01 {
		border: #fff;
		height: 400px;
	}

	.info-card01 h1 {
		display: none;
	}

	 
    .info-card01 img{
		position: relative;
		top: -300px;
	}

	.info-card01 p {
		position: relative;
		top: 30px;
	}

	.info-card02 {
		border: #fff;
		height: 400px;
	}

	.info-card02 h1 {
		display: none;
	}

	 
    .info-card02 img{
		position: relative;
		top: -300px;
	}

	.info-card02 p {
		position: relative;
		top: 30px;
	}
	
	.contact h1 {
		padding-top: 50px;
		font-size: 19px;
	}

	.info-name02 h1{
		position: absolute;
		padding-top: 111px;
		padding-left: 860px;
	}
	
	.info-stats {
		font-size: 36px;
		padding-left: 30px;
	}

	.info-stats span01 {
		font-size: 72px;
		padding-left: 73px;
	}
	
	.info-stats span02 {
		font-size: 72px;
		padding-left: 30px;
	}

	.info-stats span03 {
		font-size: 72px;
		padding-left: 103px;
	}

	.info-name02::before {
		left: 850px;
		top: 0px;
	}

	.info-analytics01 {
		left: 35px;
	}

	.info-analytics01 h1 {
		font-size: 20px;
	}

	.info-analytics01 p {
		font-size: 18px;
	}

	.info-analytics02 {
		left: 443px;
	}

	.info-analytics02 h1 {
		font-size: 20px;
	}

	.info-analytics02 p {
		font-size: 18px;
	}

	.info02 a {
		left: 690px;
		color: #BE6002;
	}

	.info-li {
		padding-top: 30px;
		column-gap: 110px;
	}

	.info-li li {
		font-size: 24px;
		padding-left: 90px;
		
	}

	.footer01 {
		display: none;
	}

	.footer02::before{
		left: 100px;
	}

	.footer02 h1 {
		padding-left: 120px;
	}

	.footer02 ul {
		left: 120px;
	}

	.footer03::before{
		left: 380px;
	}

	.footer03 h1 {
		padding-left: 400px;
	}

	.footer03 ul {
		left: 400px;
	}

	.footer04::before{
		left: 740px;
	}

	.footer04 h1 {
		padding-left: 760px;
	}

	.footer-contact {
		left: 760px;
	}

	.nav-list li {
		border-bottom: solid 2px;
	}	


}








