.contacts {
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 80px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.contacts__container {
  max-width: 1200px;
  margin: 0 auto;
}

.contacts__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

/* LEFT */
.contacts__title {
  font-family: "e-Ukraine";
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 40px;
}

.contacts__subtitle {
  font-family: "e-Ukraine";
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 24px;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 405px;
}

.contacts__list li {
  margin-bottom: 24px;
}

.contacts__list a {
  font-family: "e-Ukraine";
  color: #d0d0d0;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
}



/* RIGHT */
.contacts__subtitle--right {
  text-align: center;
}

.contacts__map {
  background: #ffffff;
  padding: 10px;
  margin-bottom: 24px;
}

.contacts__map img {
  width: 660px;
  height: 500px;
  display: block;
}

.contacts__info {
  font-family: "e-Ukraine";
  text-align: center;
  margin-bottom: 35px;
  font-size: 28px;
  font-weight: 300;
}

.contacts__info a {
  color: #ffffff;
  text-decoration: none;
  
}

.contacts__info p {
    margin-bottom: 24px;
}


.contacts__socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}






