.footer-name h1{
    padding-top: 140px;
    padding-left: 101px;
   font-size: 64px;
   font-weight: 300;
   color: #252527;
   text-transform: uppercase;
}

.footer-name {
    position: relative; 
}

.footer-name::before {
  content: "";                  
  position: absolute;
  left: 20px;                     
  top: 140px;                       
  width: 345px;                   
  height: 4px;                 
  background: #D79350;              
  pointer-events: none; 
          
}



.footer01 h1{
    padding-top: 140px;
    padding-left: 40px;
   font-size: 28px;
   font-weight: 500;
   color: #252527;
   
}

.footer01{
    position: absolute; 
}

.footer01::before {
  content: "";                  
  position: absolute;
  left: 20px;                     
  top: 140px;                       
  width: 4px;                   
  height: 175px;                 
  background: #D79350;              
  pointer-events: none; 
          
}


.footer01 a {
    position: relative;
    top: 70px;
    left: 46px;
    font-size: 18px;
    font-weight: 400;
    color: #252527;
}


.footer02 h1{
    position: relative;
    top: 140px;
    padding-left: 320px;
   font-size: 28px;
   font-weight: 500;
   color: #252527;
   
}

.footer02{
    position: absolute; 
}

.footer02::before {
  content: "";                  
  position: absolute;
  left: 300px;                     
  top: 140px;                       
  width: 4px;                   
  height: 175px;                 
  background: #D79350;              
  pointer-events: none; 
          
}


.footer02 ul {
    width: 250px;
    position: relative;
    top: 140px;
    left: 320px;
    list-style: none;
}

.footer02 li {
    padding-top: 10px;
}

.footer02 a {
    color: #252527;
    font-size: 18px;
    font-weight: 400;
}

.footer03 h1{
    position: relative;
    top: 140px;
    padding-left: 600px;
   font-size: 28px;
   font-weight: 500;
   color: #252527;
   
}

.footer03{
    position: absolute;
   
}

.footer03::before {
  content: "";                  
  position: absolute;
  left: 580px;                     
  top: 140px;                       
  width: 4px;                   
  height: 175px;                 
  background: #D79350;              
  pointer-events: none; 
          
}

.footer03 ul {
    width: 250px;
    position: relative;
    top: 140px;
    left: 620px;
    list-style: none;
}

.footer03 li {
    padding-top: 10px;
}

.footer03 a {
    color: #252527;
    font-size: 18px;
    font-weight: 400;
}


.footer04 h1{
    position: relative;
    top: 140px;
    padding-left: 960px;
   font-size: 28px;
   font-weight: 500;
   color: #252527;
   
}

.footer04 {
    position: absolute; 
    
}

.footer04::before {
  content: "";                  
  position: absolute;
  left: 940px;                     
  top: 140px;                       
  width: 4px;                   
  height: 175px;                 
  background: #D79350;              
  pointer-events: none; 
          
}

.footer-contact {
    width: 250px;
    position: relative;
    top: 140px;
    left: 970px;
    
}

.footer-contact ul {
    display: flex;
    list-style: none;
    column-gap: 30px;
    padding-top: 30px;
}

