

.up {
    padding: 68px 22px 0 22px;
    display: flex;
    justify-content: space-between;
}

.left_logo {
    width: 97px;
    height: 37px;
}

.up_left {
display: flex;
}

.up_right {
    gap: 25px;
    display: flex;
}

.right_logo {
    width: 35px;
    height: 35px;
}

.up_text {
    font-family: "e-Ukraine Head";
    font-weight: 500;
    font-size: 10px;
    padding: 5px 0 0 14px;
}

.center {
    text-align: center;
}

.logo_img {
    width: 177px;
    height: 100px;
}

.logo_text {
    padding-top: 20px;
    font-family: "e-Ukraine Head";
    font-size: 40px;
    font-weight: 500;
}


/* NAV*/

.nav {
    padding-top: 57px;
  border-bottom: 1px solid #000;
}

.menu {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu > li {
  position: relative;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-family: "e-Ukraine Head";
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
  display: inline-block;
}

/* ▼ стрелка */
.menu span {
  font-size: 12px;
}

/* Выпадающее меню */
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 260px;
  background: #fff;
  border: 1px solid #000;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.submenu li a {
  font-family: "e-Ukraine Head";
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
  display: block;
  border-bottom: 1px solid #000;
}

.submenu li:last-child a {
  border-bottom: none;
}

/* Hover */
.dropdown:hover .submenu {
  display: block;
}

/* Hover эффект */
.submenu a:hover {
  background: #000000;
}


.submenu li a:hover {
    color: #fff;
}
