.info-name h1{
    padding-top: 219px;
    padding-left: 101px;
   font-size: 64px;
   font-weight: 300;
   color: #252527;
   text-transform: uppercase;
}

.info-name {
    position: relative; 
}

.info-name::before {
  content: "";                  
  position: absolute;
  left: 20px;                     
  top: 219px;                       
  width: 345px;                   
  height: 4px;                 
  background: #D79350;              
  pointer-events: none; 
          
}


.info h2 {
 padding-top: 74px;
 font-size: 30px;
 font-weight: 300;
 color: #252527;
}

.contact h1 {
    padding-top: 250px;
    text-align: center;
   font-size: 24px;
   font-weight: 300;
   color: #252527;
}



.info-card01{
  text-align: center;
  position: relative;
   width: 385px;
   height: 551px;
   top: 70px;
   border: 1px solid #D79350;
   
}

.info-card01 h1{
    padding-top: 43px;
   font-size: 26px;
   font-weight: 300;
   color: #252527;
}

.info-card01 p{
    padding-top: 105px;
   font-size: 40px;
   font-weight: 500;
   color: #BE6002;
}

.info-card01 img{
    padding-top: 100px;
   
}

.info-card02{
  text-align: center;
  position: relative;
   width: 385px;
   height: 551px;
   top: 70px;
   border: 1px solid #D79350;
   
}

.info-card02 h1{
    padding-top: 43px;
   font-size: 26px;
   font-weight: 300;
   color: #252527;
}

.info-card02 p{
    padding-top: 105px;
   font-size: 33px;
   font-weight: 500;
   color: #BE6002;
}

.info-card02 img{
    padding-top: 100px;
   
}


.info-name02 h1{
    padding-top: 291px;
    padding-left: 1160px;
    height: 43px;
   font-size: 64px;
   font-weight: 300;
   color: #252527;
   writing-mode: vertical-rl;
   text-transform: uppercase;
}

.info-name02 {
    position: relative; 
}

.info-name02::before {
  content: "";                  
  position: absolute;
  left: 1155px;                     
  top: 198px;                       
  width: 4px;                   
  height: 323px;                 
  background: #D79350;              
  pointer-events: none; 
          
}


.info-stats {
 font-size: 45px;
 font-weight: 300;
 color: #252527;
 text-transform: uppercase;
}

.info-stats span01 {
  padding-left: 225px;
   font-size: 144px;
   color: #894500;
}

.info-stats span02 {
  padding-left: 180px;
   font-size: 144px;
   color: #894500;
}


.info-stats span03 {
  padding-left: 272px;
   font-size: 144px;
   color: #894500;
}

.info-analytics01 {
  position: relative;
  width: 443px;
  height: 172px;
  top: 149px;
  left: 115px;
}

.info-analytics01 h1 {
  position: relative;
  top: -140px;
  left: 170px;
  font-size: 24px;
  font-weight: 600;
}

.info-analytics01 p {
  position: relative;
  top: -130px;
  left: 170px;
  font-size: 20px;
  font-weight: 400;
}


.info-analytics02 {
  position: relative;
  width: 443px;
  height: 172px;
  top: -20px;
  left: 643px;
}

.info-analytics02 h1 {
  position: relative;
  top: -140px;
  left: 170px;
  font-size: 24px;
  font-weight: 600;
}

.info-analytics02 p {
  position: relative;
  top: -130px;
  left: 170px;
  font-size: 20px;
  font-weight: 400;
}


.info02 a {
  position: relative;
  color: #252527;
  top: 111px;
  left: 990px;
  font-size: 36px;
  font-weight: 400;
}


.info-name03 h1{
    padding-top: 219px;
    padding-left: 101px;
   font-size: 64px;
   font-weight: 300;
   color: #252527;
   text-transform: uppercase;
}

.info-name03 {
    position: relative; 
}

.info-name03::before {
  content: "";                  
  position: absolute;
  left: 20px;                     
  top: 219px;                       
  width: 345px;                   
  height: 4px;                 
  background: #D79350;              
  pointer-events: none; 
          
}

.info-li {
  display: flex;
  column-gap: 310px; ;
  list-style-image:"/img/icon/Точка.png";
}


.info-li li {
  font-size: 33px;
  font-weight: 400;
  color: #BE6002;
  padding-top: 20px;
}


