@media screen and (max-width: 800px) {
    
.conteiner {
   min-width: 1230px;
   padding: 0 30px;
}

.header {
    background-color: #F1F1F1;
    padding-top: 46px;
    
}

.logo {
    font-width: 700px;
    font-size: 32px;
}
    .circle {
        width: 8px;
        height: 8px;
        background-color: orange; 
        border-radius: 50%; 
        margin-left: 90px;
        margin-top: -7px;
    }

 .logo a {
  color: #000;
 }

.header-nav {
    
    justify-content: space-between;
}

.nav-list {
    
    column-gap: 50px;
}

.nav-link {
    color: #000;
    font-size: 16px;
}

.nav-link.home {
    color: #606060;
}

.header-row {
   
     justify-content: space-between;
     padding-top: 76px;
}
.header-content {
   max-width: 500px;
   padding-top: 200px;
}
.header-content p {
    padding-top: 20px;
}
.header-title {
    font-size: 44px;
    font-weight: 600;
  
}

.service-list {
    
    padding-top: 90px;
    
}
.service-list p {
    padding-top: 10px;
}
.service-item {
    
    padding: 0 30px;
    
}
.service-1{
    font-style: 24px;
    font-weight: 600;
    padding-top: 30px;
    text-transform: uppercase;
}

.portfolio-1 {
   text-align: center;
}

.portfolio-title {
    font-style: 34px;
    font-weight: 600;
    padding-top: 90px;
    
}

.portfolio-item p {
    padding-top: 40px;
    color: #000;
}

.portfolio-item{
    padding-top: 90px;
}

.footer {
    text-align: center;
    padding-top: 90px;
}

.footer-title {
    font-style: 34px;
    font-weight: 600;
}

.footer-logo p {
padding-top: 40px;
}

.footer-massage {
    padding-top: 47px;
}

    .send-message-button {
        background-color: black; 
        color: white; 
        padding: 15px 30px; 
        border-radius: 25px; 
        font-family: sans-serif; 
        font-size: 16px; 
        cursor: pointer; 
    }

.footer-massage a {
     color: #FFFFFF;
     font-style: 18px;
     font-weight: 400;
}

.footer-end {
    padding-top: 80px;
    margin-right: 10px;
    
}

.footer-contact {
   
}

.footer-contact a {
    margin: -10px;
}




}

