@import "./reset.css";
@import "../robota/roboto.css";
@import "./information.css";
@import "./informadion02.css";
@import "./slides.css";
@import "./footer.css";
@import "./adaptiv1070.css";

body{
    font-family: 'Roboto';
}

.conteiner {
    max-width:  1440px;
    width: 0 30px;
    margin: 0 auto;
}

header {
    background-image: url(../img/fon/01.png) ;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.nav-list {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
   
}

.nav-list a {
    color: #FDFDFD;
    font-size: 28px;
    font-weight: 700;
    
}
/*2*/

.nav-button {
    display: none;
}

.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;

    font-size: 18px;
    color: #fff;

    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.btn:hover, .btn:focus {
    background-color: #323232;
}

.btn:active {
    position: relative;
    top: 1px;
    background-color: #000000;
}


.nav-button {
    position: relative;
    top: 85px;
    left: 880px;
}



/*1*/
.icon {
    padding-top: 77px;
    display: flex;
    justify-content: center;
    column-gap: 23px;
}

.info-text {
    padding-top: 22px;
    text-align: center;
    color:#FDFDFD ;
    font-size: 83px;
    font-weight: 400;
    z-index: 2;
}

.info-text h2 {
   padding-top: 22px; 
  display:none;
  font-size: 64px;
  font-weight: 400;
  color: #FDFDFD;
}

.info-text h3 {
    padding-top: 107px;
    color: #F22300;
    font-size: 72px;
    font-weight: 700;
}

.info-data {
    padding-top: 22px;
    color: #FDFDFD;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.contact {
    padding-top: 29px;
    display: flex;
    justify-content: center;
    column-gap: 35px;
}

.img01 {
    width: 75px;
    height: 75px;
    
}

.img02 {
    width: 35px;
    height: 35px;
}

.contact01 {
    padding-top: 93px;
}

.tools {
    float: right;
}