.vpo {
  background-color: #ffffff;
  padding: 60px 20px 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

.vpo__container {
  max-width: 1200px;
  margin: 0 auto;
}


.vpo__title {
    font-family: "e-Ukraine";
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 50px;
}


.vpo__list {
  border-top: 1px solid #9aa5ab;
}

.vpo__item {
  display: block;
  padding: 28px 0;
  border-bottom: 1px solid #9aa5ab;
  font-family: "e-Ukraine";
  font-size: 28px;
  font-weight: 400;
  line-height: 1.4;
  text-decoration: none;
  color: #000;
}

.vpo__item:hover {
  text-decoration: underline;
}


.vpo__pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
}

.vpo__page {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  font-size: 13px;
  text-decoration: none;
  border: 1px solid #000;
  color: #000;
}

.vpo__page--active {
  background-color: #000;
  color: #fff;
}

.vpo__dots {
  font-size: 14px;
}


.veterans {
  background: #ffffff;
  padding: 60px 0px 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}


.veterans__title {
  font-family: "e-Ukraine";
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 40px;
}

.veterans-info {
    max-width: 900px;
    padding: 0 15px;
    margin: 0 auto;

}

.veterans__info {
  background: #E7EEF3;
  padding: 40px;
  margin-bottom: 40px;
}

.veterans__info-title {
    font-family: "e-Ukraine";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.veterans__info p {
    font-family: "e-Ukraine";
    font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 16px;
}

.veterans__info a {
  color: #000;
  text-decoration: underline;
}

.veterans__accordion {
  margin-bottom: 20px;
  padding: 0 143px 0 143px;
}

.veterans__accordion summary {
  list-style: none;
  font-family: "e-Ukraine";
  font-size: 28px;
  font-weight: 400;
  padding: 0 0 20px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #E7EEF3 ;
}

.veterans__accordion summary::after {
  content: "—";
  font-size: 30px;
  padding-right: 44px;
}

.veterans__accordion:not([open]) summary::after {
  content: "+";
}


.veterans__list {
  border-top: 1px solid #9aa5ab;
}

.veterans__item {
  display: block;
  padding: 24px 0;
  border-bottom: 1px solid #9aa5ab;
  font-family: "e-Ukraine";
  font-size: 28px;
  font-weight: 300;
  text-decoration: none;
  color: #000;
}

.veterans__item:hover {
  text-decoration: underline;
}


.veterans__pagination {
  display: flex;
  gap: 8px;
  margin-top: 30px;
  padding-left: 143px;
}

.veterans__pagination .page {
  width: 26px;
  height: 26px;
  border: 1px solid #000;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}

.veterans__pagination .active {
  background: #000;
  color: #fff;
}


