.container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
  font-family: "Times New Roman", Times, "Times Roman", serif;
}


.fon01 {
    background-image: -webkit-radial-gradient(50% 50%,closest-side,#147 0%,#203956 100%);
}

.header-contacts {
    padding-top: 15px;
    width: 331px;
}



.textmasage {
     display: flex;
    position: relative;
    width: 175px;
    left: 1237px;
    top: -50px;
}

.icon01 {
    width: 20px;
    height: 20px;
    color: black;
}

.textmasage a {
    color: aliceblue;
    gap: 30px;
    
}

.header-contacts h1 {
    color: aliceblue;
    
}

.header-contacts {
    padding-top: 15px;
    width: 350px;
}

.header-contacts a {
    color: aliceblue;
}

.phone {
     font-size: 30px;
    font-weight: 500;
}

.mail {
    font-size: 13px;
    font-weight: 400;
}

.header-contacts h1 {
   font-size: 15px;
   font-weight: 400;
}

.phone {
    font-weight: 500;
}

.search-box {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 25px;
  padding: 5px 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  width: 250px;
  transition: 0.3s;
  position: relative;
  left: 1148px;
  top: -30px;
}

.search-box:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.search-box input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  
}

.search-box button {
  
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 12px;
 
  cursor: pointer;
  transition: background 0.3s;
}



.logo {
    text-align: center;
    padding-bottom: 40px;
    color: aliceblue;
}

.logo h1 {
    font-size: 30px;
    font-weight: 500;
}

.logo h2 {
    color: rgb(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 500;
}

.logo h3 {
    color: rgb(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 500;
}

.button-sn  {
    background: #fff;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    padding: 10px 10px;
    position: relative;
    left: 600px;
}

.button-sn a {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.nav {
    padding-top: 50px;
    padding-bottom: 10px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    color: azure;
    border-top: 2px solid rgb(255, 255, 255, 0.5);
    border-bottom: 2px solid rgb(255, 255, 255, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    
}


.nav-list a {
    
    color: aliceblue;
    font-size: 20px;
}

.Noviny {
    width: 900px;
     padding-top: 40px;
}

.Noviny h1 a {
    
 font-size: 30px;
 font-weight: 700;
 color: #16416d;
}

.card {
    padding-top: 20px;
    width: 900px;
    height: 185px;
   border-bottom: 1px solid rgb(229 231 235);
}

.card-foto img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

.card-text h1 {
width: 750px;
}

.card-text  {
    position: relative;
   top:-85px ;
   left: 170px;
}

.card-text h1 a {
   color: black;
   font-size: 25px;
   font-weight: 500;
   
}


.card-text p {
     color: blue;
   font-size: 15px;
   font-weight: 500;
   position: relative;
   top: 41px ;
   
   width: 620px;
}

.card h2 {
    position: relative;
   top:-66px ;
   left: 800px;
   width: 620px;
}

.card h2 a {
     color: blue;
   font-size: 20px;
   font-weight: 500;
}


.advertisement {
    position: relative;
    top: -960px;
    left: 960px ;
    width: 460px;
}

.advertisement h1 a {
 
 font-size: 30px;
 font-weight: 700;
 color: #16416d;
 width: 460px;
}

.card01 {
    padding-top: 15px;
 width: 460px;
 height: 60x;
 border-bottom: 1px solid rgb(229 231 235);
}

.card-name h1 a {
      color: black;

   font-size: 25px;
   font-weight: 500;
}

.card01 p {
    color: blue;
    position: relative;
    top: 0px;
}

.card01 h2 {
    position: relative;
    top: 40px;
    left: 358px;
    width: 102px;
}

.card01 h2 a {
     color: blue;
   font-size: 20px;
   font-weight: 500;
}